:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: pink;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro';
}
a {
    text-decoration: none; /*a태그 밑줄을 없앤다.*/
    color: var(--text-color); /* 변수 지정을 해 놓고 한 번에 색을 바꿀 수 있다. */
    /* color: white; */
}
.navbar {
    display:flex; /*가로로 붙여서 정렬*/ 
    justify-content: space-between; /*아이템 사이 간격*/
    align-items: center; /*세로축의 중심으로 정렬*/
    background-color: #253343;
    padding: 8px 12px;
}
.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}
.navbar__logo i {
    color: lightgreen;
}
.navbar__menu {
    display: flex;
    list-style: none; /* 점 빼기*/
    padding-left:0;
}
.navbar__menu li {
    padding: 8px 12px
}
.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}
.navbar__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left:0;
}
.navbar__icons li {
    padding: 8px 12px;
}

/*flexbox 외 고정 자리 만들고 싶을때 */
.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}


/*반응형 만들기*/
@media screen and (max-width: 768px) { /*화면이 줄어들었을때 */
    .navbar {
        flex-direction: column; /*아이템 수직으로*/
        align-items: flex-start; /*반대축인 가로축에서 왼쪽 정렬*/
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column; /*중심축을 수직으로 */
        align-items: center; /*반대축인 가로축에서 중앙 정렬*/
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center; /*width 기준 가운데 정렬*/
    }
    .navbar__icons {
        display: none;
        justify-content: center; /*아이콘 아이템 내는 중심축이 가로임. 행의 중앙 정렬*/
        width: 100%;
    }
    .navbar__toggleBtn {
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

}